# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.
Raw data goes or passes through various stages.These stages include data management,data transformation and integration,data visualisation,model building ,model deployment and model monitoring and assessment.each stage requires various tools.
In data management we deal with relational databses and use Mysql,MongodB,HADOOP ETC
fOR DATA TRANSFORMATION AND INTEGRATION WE USE PLATFORMS LIKE AIRFLOW,KUBERFLOW
FOR DATA VISUALISTAION we use pixiedust,tableau
for model deployment we have seldon,tensorflow etc
and for model montioring we have modeldb
we use python and various libraries for bulding the model

<b>Objectives:<b>
   
    * Languages in Data Science
    * Libraries in Data Science
    * Data science Tools
    * evaluation of arithmetic expression

Some of the popular languages that Data Scientists use are


1. Python
2. R language 
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. scipy
3. Pandas

|Data Science tools|
|------------------|
|RStudio|
|Apache Spark|
|tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
mins_to_hours= 200/60
print("200 minutes is converted to",mins_to_hours,"hours")

200 minutes is converted to 3.3333333333333335 hours

## Author 
Impana